#header1{
    display: flex;
    width: 100%;
    height: 35px;
    margin: auto;
    /* border: 1px solid red; */
    justify-content: flex-end;
    align-items: center;
    
}
#header1>div{
    display: flex;
    height: 100%;
    width: auto;            
    /* border: 1px solid yellow; */
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}
/* #header1 div{
    margin-right: 100px;
} */
#navbar1 >div >a{
    color: grey;
    width: 100%;
    text-decoration: none;
    text-align: center;
}
#navbar2{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 70px;
    margin: auto;
    /* border: 1px solid red; */
    background-color: #2d2d2d;
}
#navbar2 > div{
    /* width:20%;
    height: 100%;
    border: 1px solid blue; */
    display: flex;
    justify-content: space-evenly;
}
#left{
    width: 20%;
    height: 100%;
    /* border: 1px solid blue; */
}
#left>div{
    width: auto;
    height: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#head a{
font-size: 40px;
text-decoration: none;
}

#right{
    width: 10%;
    height: 100%;
    /* border: 1px solid blue; */
}
#center{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    /* border: 1px solid blue; */
    justify-content: center;
}
#center>div{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#center>div>input{
    height: 2rem;
    border-radius: 15px;
    text-align: center;
    color: #2d2d2d;
    margin-top: 5px;
    border: none;
    
}
#center>div>input:hover{
border-color: aqua;
} 
#right>div{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* #center>div{
    width: auto;
    height: 100%;
    /* border: 1px solid yellow; */
    /* display: flex;
    justify-content: center;
    align-items: center;
} */ */
.top a{
    color: grey;
}
#left a{
    color: white;
    font-weight: 200;
font-size: larger;
text-decoration: none;
}
#center{
    width: 50%;
    height: 70%;
    /* border: 1px solid white; */
}
#searchbox{
     width: 100%;
}
/* #center a{
    color: white;
    font-weight: 200;
font-size: larger;
text-decoration: none;
} */
#right a{
    color: white;
    font-weight: 200;
    font-size: larger;
    text-decoration: none;
}
#flag{
border-radius: 50%;
height: 20px;
}
#header3{
width: 100%;
height: 40px;
margin: auto;
/* border: 1px solid red; */
background-color: #525050;
display: flex;
}
#header3 div{
display: flex;
/* border: 1px solid blue; */
}
#header3 div:nth-child(1){
margin-left: 15%;
}
.btm a{
color: white;
text-decoration: none;
padding: 10px;
}
#head{
font-size: 40px;
}
#footer{
width: 100%;
height: auto;
/* border: 1px solid red; */
background-color: #eeeeee;
}
#bottom{
display: flex;
width: 90%;
height: auto;
margin: auto;
padding: 20px;

}
#bottom > div{
width: 30%;
height: auto;
/* border: 1px solid red; */
line-height: 30px;
justify-content: space-around;
}
.color a{
color: #666768;
text-decoration: none;
}
#dis1{
display : grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: auto;
}
#dis1 > div{
display: flex;
/* border: 1px solid rgb(222, 12, 180); */
justify-content: center;
align-items:center ;

}
#discount{
background-color: #9cf0e0;

}
#delivery{
background-color: black;
color: white;
}
#dis2{
width: 100%;
height: 100px;
text-align: center;
background-color:#9cf0e0; 
margin-top: 3px;
padding-top: 2px;
padding-bottom: 10px;
}


.mainhed:hover{
background-color:#666768; 

}
.btm:hover{
background-color: white;
color: black;
}
.btm a:hover{
color: gray;
}
.top a:hover{
color: blue;
}
#container{
width: 80%;
height: auto;
margin:auto;
}
#containerMainImg{
width: 80%;
height: auto;
margin: auto;
padding: 50px;
}
#containerMainImg img{
width: 100%;
height: auto;
}
#imgcontainer{
width: 80%;
margin: auto;
display : flex;
grid-template-columns: repeat(4,1fr);
grid-template-rows: auto;
/* border: 1px solid black; */
justify-content: space-between;

}
#imgcontainer div{
 width: 20%;
height: auto;
/* border: 1px solid red */
}
#imgcontainer div img{
 width:100% ;
}
.imgStyle > a{
color: black;
text-decoration: none;
text-align: center;
}
#logo{
 display: grid;
 grid-template-columns: repeat(6,1fr);
 width: 80%;
 margin: auto;
 /* border: 1px solid red; */
}
#logoHeading>h1{
   text-align: center;
}
#logo>div>a>img{
width: 90%;
}
#icon{
display: flex;
grid-template-columns: repeat(8,1fr);
width: 70%;
height: 50px;
margin: auto;
/* border: 1px solid red; */
justify-content: space-evenly;
align-items: center;
}
#icon>div>img{
width: 50%;
height: 30px;
/* border: 1px dotted yellowgreen; */
display: flex;
margin: 20px;
}
.br>img{
border-radius: 50%;
}
#line>p{
height: 21px;
border: 1px solid grey;
}
#twoImg{
display: flex;
width: 80%;
margin: auto;
grid-template-columns: repeat(2,1fr);
grid-template-rows: auto;
justify-content: space-between;
align-items: center;
}
#twoImg>div{
width: 40%;
/* border: 1px solid red; */
align-items: center;
text-align: center;

}
#twoImg>div>img{
width: 100%;
}
#twoImg>div>button{
width: 30%;
height: 50px;
font-weight: 100;
border: 2px solid black;
}